<!-- displays simple home interface, on click will display rest of angular pages available -->

<div class="container-fluid" id="centering-div">
	<h1 id="title">RESTAURANT FINDER</h1>

	<img src="images/background.jpeg" id="background">
	<div id="searchbar">
		<h2>{{ errorMessage }}</h2>
		<br>
		<form>
			<input type="text" name="location" placeholder="Location" ng-model="zipcode" class="inputboxes" required>
			<input type="number" name="distance" placeholder="Distance (meters)" id="distance" ng-model="distance" class="inputboxes" required>
			<input type="text" name="cuisine" placeholder="Cuisine" ng-model="cuisine" class="inputboxes">
			<br>
			<input type="submit" class="{{ (hasResults === true) ? 'switch-btn' : 'custom-btn' }}" value="SEARCH RESTAURANTS" ng-click="getPlaceData(zipcode, distance, cuisine)">
			<a href="#!results" class="{{ (hasResults === true) ? 'showResults' : 'noResults' }}"><button class="custom-btn">RESULTS</button></a>
		</form>

		<div id="map"></div>
	</div>
</div>
