<!-- display search interface / similar to home.html but this one reveals the other functions-->
<div class="restaurant-nav">
	<h1 id="title-nonsearch">Restaurant Finder</h1>
<!-- 	<a href="/search"><div class="nav-elements" id="search" ">Search </div></a>
	<div class="nav-elements" id="saved" ng-click="changeSaved()">Saved</div> -->
</div>

<div class="container-fluid" id="centering-div">
	<img src="images/background.jpeg" id="background">
	<div id="searchbar">
		<h2>{{ errorMessage }}</h2>
		<br>
		<form>
			<input type="text" name="location" placeholder="Location" ng-model="zipcode" class="inputboxes">
			<input type="number" name="distance" placeholder="Distance (meters)" id="distance" ng-model="distance" class="inputboxes">
			<input type="text" name="cuisine" placeholder="Cuisine" ng-model="cuisine" class="inputboxes">
			<br>
			<input type="submit" class="{{ (hasResults === true) ? 'switch-btn' : 'custom-btn' }}" value="SEARCH RESTAURANTS" ng-click="getPlaceData(zipcode, distance, cuisine)">
			<a href="#!results" class="{{ (hasResults === true) ? 'showResults' : 'noResults' }}"><button class="custom-btn">RESULTS</button></a>
		</form>

		<div id="map"></div>
	</div>
</div>
